<h1>Listado duas</h1>

<table>
  <thead>
    <tr>
      <th>Dua</th>
     
      <th>Mostrar</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @duas.each do |dua| %>
      <tr>
        <td><%= dua.dua %></td>
        
        <td><%= link_to 'Mostrar', dua %></td>
        <td><%= link_to 'Editar', edit_dua_path(dua) %></td>
        <td><%= link_to 'Eliminar', dua, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo Dua', new_dua_path %>
