<p id="notice"><%= notice %></p>

<p>
  <strong>Dua:</strong>
  <%= @dua.dua %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @dua.belongs_to %>
</p>

<%= link_to 'Editar', edit_dua_path(@dua) %> |
<%= link_to 'Volver', duas_path %>
