<%= form_for(@barco) do |f| %>
  <% if @barco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@barco.errors.count, "error") %> prohibited this barco from being saved:</h2>

      <ul>
      <% @barco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
