
<div class="clearfix"></div>
<div>
  <div class="col-md-3">
    <%=titulo%>
  </div>
  <div  class="col-md-6">
    <input id="text<%=campValor%>" type="text" class="form-control" >
  </div>
  <!-- <button id="buttonDUA">Añadir</button> -->
 <!--  <span id="button<%=campValor%>" class="btn btn-default col-md-3">Añadir</span> -->
  <button id="button<%=campValor%>" class="btn btn-default col-md-3">Añadir</button>

  <div class="clearfix"></div>
  <ul id="list<%=campValor%>" class="listElementos">

    <%if entidad
      entidad.each do |d|
        %>
        <li>
        <span class='quitar<%=campValor%> btn btn-danger' onclick='quitarLI(event);'>Eliminar</span>
          <span class="valor"><%= d[campValor] %></span>
          
          <input type='hidden' name='<%=campValor%>[]' value="<%= d[campValor] %>">
        </li> 
    <%
        end
        end%>


      </ul>
    </div>






<script type="text/javascript">
function quitarLI(e){
     //e.target.parent().remove();
      $(e.target).parent().remove();
    }


  // $(document).on("ready", function(){
    $(document).ready(function(){
    function anadirLI<%=campValor%>(){
      $("#text<%=campValor%>").value
      var li=$("<li><span class='quitar<%=campValor%>  btn btn-danger' onclick='quitarLI(event);'>Eliminar</span><span class='valor'>"+$("#text<%=campValor%>").val()+"</span><input type='hidden' name='<%=campValor%>[]' value='"+$("#text<%=campValor%>").val()+"'></li>");
      $("#list<%=campValor%>").append(li);
      $("#text<%=campValor%>").val(undefined);
    }

     $('#text<%=campValor%>').keypress(function(event){  
       var keycode = (event.keyCode ? event.keyCode : event.which);  
      if(keycode == '13'){  
            event.preventDefault();
            anadirLI<%=campValor%>(); 
      }   
 });

    $("#button<%=campValor%>").click(function(eventObject){
      eventObject.preventDefault();
      anadirLI<%=campValor%>();

    });
  
  });
</script>