hola

<div id="filterrific_results" >
  <div class="page-header">
    <h1>Listado Registros</h1>
  </div>
  
  
  
 
  <br>
 
  <br/>
  <%#= @registros.length %>
    
  <div class="panel panel-default">
  <div class="table-responsive ">
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Estado</th>
        <th>Mostrar</th>
        <th>Editar</th>
        <th>Eliminar</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Cliente</th>
        <th>Bultos</th>
        <th>M.Camión</th>
        <th>M.Remolque</th>
        <th>P.Neto</th>
        <th>P.Bruto</th>
        <th>Procedencia</th>
        <th>Conocimiento</th>
        <th>Precinto1</th>
        <th>Precinto2</th>
        <th>Precinto3</th>
        <th>Flete</th>
        <th>Total</th>
        
        
      </tr>
    </thead>

    <tbody>
      <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.mostrarNumero %></td>
        <td><%= registro.estado %></td>
        <td><%= link_to 'Mostrar', registro %></td>
        <td><%= link_to 'Editar', edit_registro_path(registro) %></td>
        <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
        <td><%= registro.tipo %></td>
        <td><%= registro.fecha %></td>
        <td><%= registro.hora.strftime "%H:%M" %></td>
        <td><%= registro.cliente.nombre %></td>
        <td><%= registro.bultos %></td>
        <td><%= registro.matriculaCamion %></td>
        <td><%= registro.matriculaRemolque %></td>
        <td><%= registro.pesoneto %></td>
        <td><%= registro.pesobruto %></td>
        <td><%= registro.procedencia %></td>
        <td><%= registro.conocimiento %></td>
        <td><%= registro.precinto1 %></td>
        <td><%= registro.precinto2 %></td>
        <td><%= registro.precinto3 %></td>
        <td><%= registro.flete %></td>
        <td><%= registro.total %></td>
        
        
      </tr>
      <% end %>

    </tbody>
  </table>
  </div>
</div>




  

</div>