<div class="page-header">
<h1>Listado registros</h1>
</div>

<table class="table table-border">
  <thead>
    <tr>
      <th>Numero</th>
      
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Bultos</th>
      <th>Matriculacamion</th>
      <th>Matricularemolque</th>
      <th>Pesoneto</th>
      <th>Pesobruto</th>
      <th>Procedencia</th>
      <th>Conocimiento</th>
      <th>Precinto1</th>
      
      <th>Precinto2</th>
      
      <th>Precinto3</th>
      
      <th>Flete</th>
      <th>Total</th>
      <th>Estado</th>
      <th>Mostrar</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.mostrarNumero %></td>
       
        <td><%= registro.tipo %></td>
        <td><%= registro.fecha %></td>
        <td><%= registro.hora %></td>
        <td><%= registro.bultos %></td>
        <td><%= registro.matriculaCamion %></td>
        <td><%= registro.matriculaRemolque %></td>
        <td><%= registro.pesoneto %></td>
        <td><%= registro.pesobruto %></td>
        <td><%= registro.procedencia %></td>
        <td><%= registro.conocimiento %></td>
        <td><%= registro.precinto1 %></td>
        
        <td><%= registro.precinto2 %></td>
       
        <td><%= registro.precinto3 %></td>
        
        <td><%= registro.flete %></td>
        <td><%= registro.total %></td>
        <td><%= registro.estado %></td>
        <td><%= link_to 'Mostrar', registro %></td>
        <td><%= link_to 'Editar', edit_registro_path(registro) %></td>
        <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag new_registro_path , method: "get", class:"form-horizontal" do  %>
<%= select_tag "year", options_for_select(2012..2050 , 2013), class:"form-control" %>
<div class="actions">
  <%= submit_tag "Crear nuevo registro", {class:"btn btn-default"} %>
</div>
<% end %>
<%#= link_to 'Crear nuevo Registro', new_registro_path, class:"btn btn-default" %>
