<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy", firstDay: 1 });
  });
</script>


<%= form_for @filterrific do |f| %>
  <div>
  Desde
  <%#= f.date_select :date_gte %>
  <%=f.text_field(:date_gte, :class => 'filterrific-periodically-observed datepicker')%>
  hasta
  <%= f.text_field(:date_lte, :class => 'filterrific-periodically-observed datepicker')%>

  

  <% Registro.campos_filtro.each do |camp| %>

      <div class="<%= camp[:campo] %> campoFiltro">
        <%case camp[:tipo]
          when "text" || "number" %>
          <%= camp[:titulo]%>
          <%= search = "search_"+camp[:campo] 
          f.text_field(search,:class => 'filterrific-periodically-observed')%> 
          <% when "asoc" %>
            <%= camp[:titulo]%>
            <%=
            search = "search_#{camp[:campo]}"
            coleccion=instance_variable_get("@#{camp[:variable]}")
            f.select  search, options_from_collection_for_select(coleccion, "id", "nombre"),{include_blank: true}, {class: "form-control"}%>    
            <%
            else%>
            <%=puts "You gave me #{camp[:tipo]} -- I have no idea what to do with that."%>

            <%
            end%>




               
          </div>
    <%end%>



    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%#= f.text_field(
      :search_procedencia,
      :class => 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_registros_path,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>


<%= render(
  :partial => 'list',
  :locals => { :@registos => @registros }
) %>




