<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy", firstDay: 1 });
  });
</script>


<%
  # El ancho lo medimos en 12 columnas
  # voy a usar dos variables para poner cuantas para label y cuantas para el input

  colLabel=4;
  colInput=8;
  %>


  <div class="panel panel-default">
    <div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse"  href="#collapseFiltro"  class="btn btn-primary">
          Filtro
        </a>
        <%= link_to( 'Limpiar filtros',      reset_filterrific_registros_path  , class:"btn btn-default"  ) %>
          <%# add an automated spinner to your form when the list is refreshed %>
          <%= render_filterrific_spinner %>
      </h4>
    </div>
    <div id="collapseFiltro" class="panel-collapse collapse out">
    <div class="panel-body">

      <%= form_for @filterrific, html: {role:"form", class:"form-horizontal"} do |f| %>

        <% Registro.campos_filtro.each do |camp| %>

        <div class="<%= camp[:campo]%> col-sm-4 campoFiltro ">

          <%

          case camp[:tipo]
            when "text","number" %>
            <% search = "search_"+camp[:campo] %>
            <div class=" field form-group">
              <%= f.label search, camp[:titulo], class:"control-label col-sm-#{colLabel}" %> 
              <div class="col-sm-<%=colInput%>">
                <%= f.text_field(search,:class => "filterrific-periodically-observed form-control col-sm-#{colInput}")%> 
              </div>
            </div>
            <% when "asoc" %>
            <% search = "search_#{camp[:campo]}"
            coleccion=instance_variable_get("@#{camp[:variable]}")%>
            <div class="field form-group">
              <%= f.label search, camp[:titulo], class:"control-label col-sm-#{colLabel}"%>
              <div class="col-sm-<%=colInput%>">
                <%= f.select  search, options_from_collection_for_select(coleccion, "id", "nombre"),{include_blank: true}, {class: "form-control"}%>
              </div>    
            </div>
            <% else %>
            <%=puts "Hay un campo en el fintro que no tiene definido el tipo #{camp[:tipo]} -- "%>
            <% end %>

          </div>
          <%end%>

          <div class="col-sm-8">
            <div class="field form-group">
              <%=f.label :date_gte, "Fecha desde", class:"control-label col-sm-2" %> 
              <%#= f.date_select :date_gte %>
              <div class="col-sm-4">
                <%=f.text_field(:date_gte, :class => "filterrific-periodically-observed datepicker form-control ")%>
              </div>
              <%=f.label :date_lte, "hasta", class:"control-label col-sm-2" %> 
              <div class="col-sm-4">
                <%= f.text_field(:date_lte, :class => "filterrific-periodically-observed datepicker form-control ")%>
              </div>
            </div>
          </div>



          <div class="clearfix"></div>
          <%= link_to( 'Limpiar filtros',      reset_filterrific_registros_path  , class:"btn btn-default"  ) %>
          <%# add an automated spinner to your form when the list is refreshed %>
          <%= render_filterrific_spinner %>
        </div>
        <% end %>
        </div>
</div>


        <%= render(
          :partial => 'list'
          ) %>

       



