<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @registro.mostrarNumero %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @registro.tipo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @registro.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @registro.hora %>
</p>

<p>
  <strong>Bultos:</strong>
  <%= @registro.bultos %>
</p>

<p>
  <strong>Matriculacamion:</strong>
  <%= @registro.matriculaCamion %>
</p>

<p>
  <strong>Matricularemolque:</strong>
  <%= @registro.matriculaRemolque %>
</p>

<p>
  <strong>Pesoneto:</strong>
  <%= @registro.pesoneto %>
</p>

<p>
  <strong>Pesobruto:</strong>
  <%= @registro.pesobruto %>
</p>

<p>
  <strong>Procedencia:</strong>
  <%= @registro.procedencia %>
</p>

<p>
  <strong>Conocimiento:</strong>
  <%= @registro.conocimiento %>
</p>

<p>
  <strong>Precinto1:</strong>
  <%= @registro.precinto1 %>
</p>

<p>
  <strong>Precinto2:</strong>
  <%= @registro.precinto2 %>
</p>

<p>
  <strong>Precinto3:</strong>
  <%= @registro.precinto3 %>
</p>

<p>
  <strong>Flete:</strong>
  <%= @registro.flete %>
</p>

<p>
  <strong>Total:</strong>
  <%= @registro.total %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @registro.estado %>
</p>

<%= link_to 'Editar', edit_registro_path(@registro) %> |
<%= link_to 'Volver', registros_path %>
